.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  border-bottom: 1px solid rgb(163, 163, 163);
  padding: 0 10%;
}

.logo-cocktail {
  position: relative;
  min-width: 4rem;
  height: 80%;
  background: linear-gradient(to bottom, red, blue);
  border-radius: 5px;
}

.logo-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.logo {
  margin-left: 0.5rem;
  font-size: 1.8rem;
  color: white;
  font-weight: bold;
  min-width: 300px;
}

.c-letter {
  position: absolute;
  right: 0.5rem;
  bottom: 0.2rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;

}

.overview-title {
  text-align: center;
  margin-bottom: 1rem;
}

.randomButton {
  font: inherit;
  cursor: pointer;
  background-color: #77000a;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #004177;
  border-radius: 4px;
  font-weight: bold;
  min-width: fit-content;
}

.randomButton:hover {
  background-color: #880a15;
}

.language {
  display: flex;
  align-items: center;
  margin-left: 10rem;
  color: white;
}

.language select {
  margin-left: 1rem;
  width: 12rem;
}



.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fcb8d2;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

.badge {
  background-color: #cc2062;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}
